# ────────────────────────────────
# App Settings
# ────────────────────────────────
APP_NAME=Smart Task API
ENV=development
DEBUG=True

# ────────────────────────────────
# Database
# ────────────────────────────────
DATABASE_URL=sqlite:///./tasks.db